<configuration>

  <logger name="org.apache.iceberg.CatalogUtil" level="WARN"/>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>

  <!-- Uncomment to enable S3 request/response logging. -->
  <!--
      <logger name="software.amazon.awssdk.request" level="DEBUG">
          <appender-ref ref="CONSOLE"/>
      </logger>
  -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.altinity.ice.internal.log.ColorAwarePatternLayout">
        <!-- FIXME: stacktrace filtering has perf implications -->
        <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss} [%.11thread]) %highlight(%-4level) %gray(%logger{27} >) %msg%n%rEx{full,
          picocli,
          software.amazon.awssdk.core.internal,
          java.base
          }
        </pattern>
      </layout>
    </encoder>
  </appender>
</configuration>
