<configuration>

  <!--ice-->
  <logger name="org.apache.iceberg.CatalogUtil" level="WARN"/>
  <logger name="org.apache.iceberg.metrics.LoggingMetricsReporter" level="WARN"/>
  <logger name="org.apache.iceberg.SnapshotScan" level="WARN"/>

  <logger name="org.apache.hadoop.io.compress.CodecPool" level="WARN"/>
  <logger name="org.apache.hadoop.util.NativeCodeLoader" level="ERROR"/>

  <!--ice-rest-catalog-->
  <!--<logger name="org.apache.iceberg.CatalogUtil" level="WARN"/>-->
  <logger name="org.apache.iceberg.BaseMetastoreCatalog" level="WARN"/>
  <logger name="org.eclipse.jetty" level="WARN"/>
  <!-- hide "Unable to load metrics class: 'org.apache.iceberg.hadoop.HadoopMetricsContext', falling back to null metrics" -->
  <logger name="org.apache.iceberg.aws.s3.S3FileIO" level="ERROR"/>
  <logger name="org.apache.iceberg.BaseMetastoreTableOperations" level="WARN"/>
  <logger name="io.grpc.internal" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <!-- Uncomment to enable S3 request/response logging. -->
  <!--
      <logger name="software.amazon.awssdk.request" level="DEBUG">
          <appender-ref ref="CONSOLE"/>
      </logger>
  -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.altinity.ice.internal.logback.ColorAwarePatternLayout">
        <!-- FIXME: stacktrace filtering has perf implications -->
        <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss} [%.11thread]) %highlight(%-4level) %gray(%logger{27} >) %msg%n%ex{full,
          org.eclipse.jetty,
          jakarta.servlet,
          software.amazon.awssdk.core.internal,
          com.fasterxml.jackson,
          picocli,
          java.base,
          org.codehaus.mojo.exec
          }
        </pattern>
      </layout>
    </encoder>
  </appender>
</configuration>
