name: verify
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'graalvm'
          cache: maven
      - run: ./mvnw clean verify
      # TODO: check native-image can build ice
      - name: Run Scenario-Based Integration Tests
        run: ./mvnw test -Dtest=ScenarioBasedIT